/* SOBRE MIM */

.sobre-mim{
    width: 90%;
}
.sobre-mim .row{
    background-color: #348FED;
}

.sobre-mim .imagem-sobre-mim{
    max-width: 40%;
    padding: 50px 0;
}

.sobre-mim .imagem-sobre-mim img {
    border: inset 10px solid transparent;
    border-radius: 50%;
}

.sobre-mim .textos{
    max-width: 60%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sobre-mim .textos h2{
    padding: 0 25px;
    font-size: var(--fonte-gigante);
}

.sobre-mim .informacoes-sobre-mim {
    align-self: center;
}

.sobre-mim .informacoes-sobre-mim p {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
}

@media(max-width: 728px){
    .sobre-mim .row{
        flex-direction: column;
    }

    .sobre-mim .imagem-sobre-mim{
        max-width: 100%;
    }
    
    .sobre-mim .textos{
        text-align: center;
        max-width: 100%;
    }
}