.home{
    background-color: var(--cor-fundo-cinza-escuro);
}

.home .full-screen {
    padding: 50px;
    min-height: 80svh;
    position: relative;
    overflow: hidden;
    gap: 20px;
}

.home .triangulo {
    position: absolute;
    left: 0;
    border-left: clamp(10px, 50vw, 500px) solid transparent;
    border-right: clamp(23px, 50vw, 800px) solid transparent;
    border-top: /*clamp(10px, 50vh, 500px)*/ 300px solid var(--cor-fundo-cinza-claro);
}

.home .texto-home {
    z-index: 1;
    letter-spacing: 2px;
    text-shadow: 0px 0px 2px black;

    & p {
        font-size: var(--fonte-gigante);
    }

    & .nome {
        text-wrap: nowrap;
        text-transform: uppercase;
        font-size: var(--fonte-extra-grande);
    }

    & h2 {
        font-family: var(--fonte-extra);
        font-size: var(--fonte-pequena);
        margin-top: 20px;
    }
}

@media(max-width: 1280px) {
    .full-screen{
        justify-content: center;
    }

    .home .texto-home, .home .img-home {
        text-align: center;
        padding: 0 var(--mobile-padding);
    }
    .home .img-home {
        margin-top: 50px;
    }
}