html {
  font-size: 62.5%;
  color: var(--cor-branca);
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  background: url(../images/fundinho.png) fixed;;
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-normal);
  padding-top: 80px;
}

.main {
  max-width: 1440px;
  margin: auto;
}

.section{
  padding: 7rem 0 7rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}