:root {
    --cor-essencial: #F92100;
    --cor-primaria: #FD6C22;
    --cor-secundaria: #8f695d;    
    --cor-branca: #fff;
    --cor-fundo-escuro: #25191f;    
    --cor-fundo-cinza-escuro: #C6C6C6;
    --cor-fundo-cinza-claro: #D0D0D0;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Raleway', sans-serif;
    --fonte-extra: 'Press Start 2P', sans-serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }